@page "/models/edit/{id::int}"
@using TechStore.Blazor.DtoModels.Model
@using TechStore.Blazor.Interfaces
@inject IModelApi ModelApi


<MudPaper Elevation="5" Class="pa-8 mx-auto" Style="max-width: 600px; margin-top: 24px;">
    <MudText Typo="Typo.h5" Class="mb-6 d-flex align-center">
        <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-2" />
        Խմբագրել Մոդելը
    </MudText>

    @if (ModelDto == null)
    {
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Class="mx-auto my-8" />
    }
    else
    {
        <MudGrid>
            <MudItem xs="12" md="6" Class="pr-md-4">
                <MudTextField @bind-Value="ModelDto.Name"
                              Label="Անունը"
                              Variant="Variant.Outlined"
                              Class="mb-4"
                              FullWidth />
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField @bind-Value="ModelDto.AnnouncementYear"
                              Label="Հայտարարության Տարին"
                              Variant="Variant.Outlined"
                              Class="mb-4"
                              FullWidth />
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField @bind-Value="ModelDto.Stock"
                              Label="Քանակը"
                              Variant="Variant.Outlined"
                              Class="mb-4"
                              FullWidth />
            </MudItem>
        </MudGrid>

        <div class="d-flex justify-end mt-4">
            <MudButton OnClick="SaveAsync"
                       Color="Color.Primary"
                       Variant="Variant.Filled"
                       EndIcon="@Icons.Material.Filled.Save"
                       Class="ml-2">
                Պահպանել
            </MudButton>
        </div>
    }
</MudPaper>

@code {
    [Inject] private NavigationManager Nav { get; set; } = default!;
    [Parameter] public int id { get; set; }
    private ModelDto ModelDto { get; set; } = new ModelDto();

    protected override async Task OnInitializedAsync()
    {
        ModelDto = await ModelApi.GetModel(id);
    }

    private async Task SaveAsync()
    {
        var modelUpdateDto = new ModelUpdateDto
            {
                Name = ModelDto.Name,
                AnnouncementYear=ModelDto.AnnouncementYear,
                Stock = ModelDto.Stock
            };
        await ModelApi.UpdateModel(id, modelUpdateDto);
        Nav.NavigateTo("models");
    }
}

