@page "/OSesPage/OSCreatePage/"
<h3>OSCreatePage</h3>

@using TechStore.Blazor.DtoModels.OS
@using TechStore.Blazor.Interfaces
@inject IOSApi OSApi

<MudPaper Elevation="5" Class="pa-8 mx-auto" Style="max-width: 600px; margin-top: 24px;">
    <MudText Typo="Typo.h5" Class="mb-6 d-flex align-center">
        <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-2" />
        Create New OS
    </MudText>

    <MudGrid>
        <MudItem xs="12" md="6" Class="pr-md-4">
            <MudTextField @bind-Value="OSAddDto.Name"
                          Label="Name"
                          Variant="Variant.Outlined"
                          Class="mb-4"
                          FullWidth />
        </MudItem>
    </MudGrid>

    <div class="d-flex justify-end mt-4">
        <MudButton OnClick="NavigateBack"
                   Color="Color.Default"
                   Variant="Variant.Text"
                   Class="mr-2">
            Cancel
        </MudButton>
        <MudButton OnClick="CreateAsync"
                   Color="Color.Primary"
                   Variant="Variant.Filled"
                   EndIcon="@Icons.Material.Filled.Save"
                   Class="ml-2">
            Create Category
        </MudButton>
    </div>
</MudPaper>

@code {
    [Inject] private NavigationManager Nav { get; set; } = default!;
    private OSAddDto OSAddDto { get; set; } = new OSAddDto();

    private async Task CreateAsync()
    {
        await OSApi.AddOS(OSAddDto);
        Nav.NavigateTo("/OSesPage");
    }

    private void NavigateBack()
    {
        Nav.NavigateTo("/OSesPage");
    }
}