@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Style="display: flex; flex-direction: column; min-height: 100vh;">
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        My Application
    </MudAppBar>

    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu />
    </MudDrawer>

    <MudMainContent Style="flex: 1; display: flex; flex-direction: column;">
        <div class="p-4" style="flex: 1;background-color: #f0f0f0;">
            @Body
        </div>

        <!-- Footer -->
        <footer class="py-6 text-center" style="background-color: black;">
            <MudText Typo="Typo.body2" Style="color: white;">
                © @DateTime.Now.Year My Application. All rights reserved.
            </MudText>
        </footer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}