@page "/rams/create"
@using TechStore.Blazor.DtoModels.Ram
@using TechStore.Blazor.Interfaces
@inject IRamApi RamApi

<MudPaper Elevation="5" Class="pa-8 mx-auto" Style="max-width: 600px; margin-top: 24px;">
    <MudText Typo="Typo.h5" Class="mb-6 d-flex align-center">
        <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-2" />
        Ավելացնել Նոր Օպերատիվ Հիշողություն
    </MudText>

    <MudGrid>
        <MudItem xs="12" md="6" Class="pr-md-4">
            <MudTextField @bind-Value="RamAddDto.Size"
                          Label="Ծավալը"
                          Variant="Variant.Outlined"
                          Class="mb-4"
                          FullWidth />
        </MudItem>
    </MudGrid>

    <div class="d-flex justify-end mt-4">
        <MudButton OnClick="NavigateBack"
                   Color="Color.Default"
                   Variant="Variant.Text"
                   Class="mr-2">
            Չեղարկել
        </MudButton>
        <MudButton OnClick="CreateAsync"
                   Color="Color.Primary"
                   Variant="Variant.Filled"
                   EndIcon="@Icons.Material.Filled.Save"
                   Class="ml-2">
            Ստեղծել Օպերատիվ Հիշողություն
        </MudButton>
    </div>
</MudPaper>

@code {
    [Inject] private NavigationManager Nav { get; set; } = default!;
    private RamAddDto RamAddDto { get; set; } = new RamAddDto();

    private async Task CreateAsync()
    {
        await RamApi.AddRam(RamAddDto);
        Nav.NavigateTo("rams");
    }

    private void NavigateBack()
    {
        Nav.NavigateTo("rams");
    }
}