@page "/rams/edit/{id:int}"
@using TechStore.Blazor.DtoModels.Ram
@using TechStore.Blazor.Interfaces
@inject IRamApi RamApi


<MudPaper Elevation="5" Class="pa-8 mx-auto" Style="max-width: 600px; margin-top: 24px;">
    <MudText Typo="Typo.h5" Class="mb-6 d-flex align-center">
        <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-2" />
        Խմբագրել Օպերատիվ Հիշողությունը
    </MudText>

    @if (RamDto == null)
    {
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Class="mx-auto my-8" />
    }
    else
    {
        <MudGrid>
            <MudItem xs="12" md="6" Class="pr-md-4">
                <MudTextField @bind-Value="RamDto.Size"
                              Label="Ծավալը"
                              Variant="Variant.Outlined"
                              Class="mb-4"
                              FullWidth />
            </MudItem>
        </MudGrid>

        <div class="d-flex justify-end mt-4">
            <MudButton OnClick="SaveAsync"
                       Color="Color.Primary"
                       Variant="Variant.Filled"
                       EndIcon="@Icons.Material.Filled.Save"
                       Class="ml-2">
                Պահպանել
            </MudButton>
        </div>
    }
</MudPaper>

@code {
    [Inject] private NavigationManager Nav { get; set; } = default!;
    [Parameter] public int id { get; set; }
    private RamDto RamDto { get; set; } = new RamDto();

    protected override async Task OnInitializedAsync()
    {
        RamDto = await RamApi.GetRam(id);
    }

    private async Task SaveAsync()
    {
        var ramUpdateDto = new RamUpdateDto
            {
                Size = RamDto.Size
            };
        await RamApi.UpdateRam(id, ramUpdateDto);
        Nav.NavigateTo("rams");
    }
}